<div class="container">
  <section class="row">
    <div class="col-12">
      <div class="text-center">
        <h1>Welcome to Gregslist</h1>
        <h2>Choose a listing type</h2>
        <div class="d-flex justify-content-center">

          <div>
            <a href="#/cars">
              <button class="btn btn-dark m-2" type="button">
                Cars <i class="mdi mdi-car-convertible"></i>
              </button>
            </a>
          </div>

          <div>
            <a href="#/homes">
              <button class="btn btn-dark m-2" type="button">
                Homes <i class="mdi mdi-home-search"></i>
              </button>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>