<div class="container-fluid">
  <section id="home-listings" class="row">
    <!-- <div class="col-12 p-0 mb-3">
      <div class="row bg-light shadow">
        <div class="col-4 p-0">
          <img class="img-fluid car-img" src=".\assets\img\LuxuryHome.png" alt="Luxury">
        </div>
        <div class="col-8">
          <div class="p-2">
            <p class="fs-3">Luxury Home</p>
            <p class="fs-4">$3,000,000</p>
            <p>Luxury home with a mediterranean atmosphere and relaxing pool perfect for parties</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->